.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 2px solid #979797;
    padding: 10px 17px 10px 10px;
}

.form * {
    width: 100%;
    font-size: 24px;
}

.form label:nth-child(n + 2) {
    margin-top: 10px;
}

.agreement {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    input {
        width: 20px;
        height: 20px;
    }
}

.notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        font-size: 20px;
        margin-left: 15px;
        width: auto;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

.switch {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    input:checked+.slider {
        background-color: #2196f3;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px #2196f3;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round {
    border-radius: 34px;
}

.btnSubmit {
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: rgb(255, 92, 92);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btnSubmit:hover {
    background-color: #f88;
}